body{
	font-size:14px;
	background-color:#eee;
}
button a{
	color:#fff;
}
button a:hover{
	color:#FFF;
}
a{
	color:#000;
}
a:hover{
	color:#888;
}

/*Start App Style*/
/*.navbar{
	position: fixed;
	top:0;
	left: 0;
}*/
.nav-image{
	width:20px;
	height:20px;
	display: inline-block;
}
.nav-image > img{
	width:100%;
	height: 100%;
	border-radius: 100%;
}
.nav-hr{
	padding:0;
	margin:0;
}
/*End App Style*/
/*Start Admin LTE*/

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.small-box > .inner {
  padding: 10px;
}

.small-box > .small-box-footer {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.small-box > .small-box-footer:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.small-box h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .col-xl-2 .small-box h3,
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3 {
    font-size: 1.6rem;
  }
  .col-xl-3 .small-box h3,
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 .small-box h3,
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3 {
    font-size: 2.2rem;
  }
  .col-xl-3 .small-box h3,
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3 {
    font-size: 2.2rem;
  }
}

.small-box p {
  font-size: 1rem;
}

.small-box p > small {
  color: #f8f9fa;
  display: block;
  font-size: 0.9rem;
  margin-top: 5px;
}

.small-box h3,
.small-box p {
  z-index: 5;
}

.small-box .icon {
  color: rgba(0, 0, 0, 0.15);
  z-index: 0;
}

.small-box .icon > i {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s linear;
}

.small-box .icon > i.fa, .small-box .icon > i.fas, .small-box .icon > i.far, .small-box .icon > i.fab, .small-box .icon > i.glyphicon, .small-box .icon > i.ion {
  font-size: 70px;
  top: 20px;
}

.small-box:hover {
  text-decoration: none;
}

.small-box:hover .icon > i {
  font-size: 95px;
}

.small-box:hover .icon > i.fa, .small-box:hover .icon > i.fas, .small-box:hover .icon > i.far, .small-box:hover .icon > i.fab, .small-box:hover .icon > i.glyphicon, .small-box:hover .icon > i.ion {
  font-size: 75px;
}

@media (max-width: 767.98px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.info-box {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #ffffff;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  min-height: 80px;
  padding: .5rem;
  position: relative;
}

.info-box .progress {
  background-color: rgba(0, 0, 0, 0.125);
  height: 2px;
  margin: 5px 0;
}

.info-box .progress .progress-bar {
  background-color: #ffffff;
}

.info-box .info-box-icon {
  border-radius: 0.25rem;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.875rem;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 70px;
}

.info-box .info-box-icon > img {
  max-width: 100%;
}

.info-box .info-box-content {
  -ms-flex: 1;
  flex: 1;
  padding: 5px 10px;
}

.info-box .info-box-number {
  display: block;
  font-weight: 700;
}

.info-box .progress-description,
.info-box .info-box-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-box .info-box .bg-primary,
.info-box .info-box .bg-gradient-primary {
  color: #ffffff;
}

.info-box .info-box .bg-primary .progress-bar,
.info-box .info-box .bg-gradient-primary .progress-bar {
  background-color: #ffffff;
}

.info-box .info-box .bg-secondary,
.info-box .info-box .bg-gradient-secondary {
  color: #ffffff;
}

.info-box .info-box .bg-secondary .progress-bar,
.info-box .info-box .bg-gradient-secondary .progress-bar {
  background-color: #ffffff;
}

.info-box .info-box .bg-success,
.info-box .info-box .bg-gradient-success {
  color: #ffffff;
}

.info-box .info-box .bg-success .progress-bar,
.info-box .info-box .bg-gradient-success .progress-bar {
  background-color: #ffffff;
}

.info-box .info-box .bg-info,
.info-box .info-box .bg-gradient-info {
  color: #ffffff;
}

.info-box .info-box .bg-info .progress-bar,
.info-box .info-box .bg-gradient-info .progress-bar {
  background-color: #ffffff;
}

.info-box .info-box .bg-warning,
.info-box .info-box .bg-gradient-warning {
  color: #1F2D3D;
}

.info-box .info-box .bg-warning .progress-bar,
.info-box .info-box .bg-gradient-warning .progress-bar {
  background-color: #1F2D3D;
}

.info-box .info-box .bg-danger,
.info-box .info-box .bg-gradient-danger {
  color: #ffffff;
}

.info-box .info-box .bg-danger .progress-bar,
.info-box .info-box .bg-gradient-danger .progress-bar {
  background-color: #ffffff;
}

.info-box .info-box .bg-light,
.info-box .info-box .bg-gradient-light {
  color: #1F2D3D;
}

.info-box .info-box .bg-light .progress-bar,
.info-box .info-box .bg-gradient-light .progress-bar {
  background-color: #1F2D3D;
}

.info-box .info-box .bg-dark,
.info-box .info-box .bg-gradient-dark {
  color: #ffffff;
}

.info-box .info-box .bg-dark .progress-bar,
.info-box .info-box .bg-gradient-dark .progress-bar {
  background-color: #ffffff;
}

.info-box .info-box-more {
  display: block;
}

.info-box .progress-description {
  margin: 0;
}

@media (min-width: 768px) {
  .col-xl-2 .info-box .progress-description,
  .col-lg-2 .info-box .progress-description,
  .col-md-2 .info-box .progress-description {
    display: none;
  }
  .col-xl-3 .info-box .progress-description,
  .col-lg-3 .info-box .progress-description,
  .col-md-3 .info-box .progress-description {
    display: none;
  }
}

@media (min-width: 992px) {
  .col-xl-2 .info-box .progress-description,
  .col-lg-2 .info-box .progress-description,
  .col-md-2 .info-box .progress-description {
    font-size: 0.75rem;
    display: block;
  }
  .col-xl-3 .info-box .progress-description,
  .col-lg-3 .info-box .progress-description,
  .col-md-3 .info-box .progress-description {
    font-size: 0.75rem;
    display: block;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 .info-box .progress-description,
  .col-lg-2 .info-box .progress-description,
  .col-md-2 .info-box .progress-description {
    font-size: 1rem;
    display: block;
  }
  .col-xl-3 .info-box .progress-description,
  .col-lg-3 .info-box .progress-description,
  .col-md-3 .info-box .progress-description {
    font-size: 1rem;
    display: block;
  }
}
.boxs{
	color:#fff;
}
/*End Admin LTE*/
/*Start Style Home*/

.card {
	margin-bottom:30px;
}
#create-post textarea{
	border:none;

}
.create-footer input[type=submit]{
	float:right;
	padding:3px 20px;
}
.card-post .card-body{
	padding:0px;
}
.post{
	padding-top:20px;
	margin:10px 0;
	font-size:13px;
	background-color:#fff;
	border:1px solid #CCC;
	border-radius:10px;
}
.post .post-header {
	overflow: hidden;
	margin-bottom:20px;
	padding:0px 10px;
}
.post .post-header .owner{
	font-size:14px;
}
.post .post-header .owner > div > div:last-of-type{
	color:#5c5c5c;
	font-size:12px;
}
.post .post-header .owner img{
	width:30px;
	height:30px;
	border:1px solid #CCC;
	margin-right:10px;
	border-radius:100%;
	float:left;
}
.post .post-header .owner > div{
	float:left;	
}
.post .post-header .edit{
	float:right;
}
.post .post-header .edit span > a:first-of-type{
	color:#057bfb;
	font-size:12px;
	border:1px solid #fff;
	border-radius:2px;
	padding:3px;
}
.post .post-header .edit span > a:last-of-type{
	color:#dc3545;
	border:1px solid #fff;
	font-size:12px;
	border-radius:2px;
	padding:3px;
	transition: 1s;
}
.post .post-header .edit span > a:first-of-type:hover{
	border-color:#057bfb9c;
	color:#0061c9;
	transition: 1s;
}
.post .post-header .edit span > a:last-of-type:hover{
	border-color:#dc354587;
	color:#a61a27;
	transition: 1s;
}
.post .post-header .edit > span{
	float:right;
	margin-top:5px;
}
.post .post-content{
	display: block;
	overflow: hidden;
	padding:10px;
}
.post .post-image{
	margin-top:20px;
}
.post .post-image > img{
	display: block;
	width:100%;
	height:430px;
	
}
.comment {
	border-radius:10px;
}
.comment > .comment-header{
	padding:5px 10px;
	font-size:12px;
	background-color:#f2f2f2;
}
.comment > .comment-header > div{
	display:inline-block;
}
.comment > .comment-header > div:last-of-type{
	float:right;
}
.comment .comment-body{
	padding:10px;
	margin:10px;
	overflow: hidden;
}
.comment .comment-body img{
	display: block;
	margin:0px 2.5%;
	width:7%;
	height:40px;
	border-radius:100%;
}
.comment .comment-body .row{
	margin-bottom: 10px;
}
.comment .comment-body .content{
	padding:10px 10px;
	background-color:#f2f2f2;
	border:1px solid #ccc;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	float:left;
	width:85%;
	font-size:11px;
}
.comment .comment-body .content > div > div{
	display: inline-block;
}
.comment .comment-body .content > div > div:last-of-type{
	float:right;
}
.comment .comment-body .content > div > div > span:first-of-type {
	font-size:13px;
	color:#007bff;
	font-weight:bold;
}
.comment .comment-body .content > div > div > span:last-of-type{
	color:#5c5c5c;
}
.comment .comment-body .content > div > div > span:first-of-type:hover{
	text-decoration: underline;
}
.comment .comment-body .content > div > div:last-of-type > a{
	transition: 0.5s;
	font-size:12px;
	color:#6a6a6a;
	margin:0 3px;
}
.comment .comment-body .content > div > div:last-of-type > a:last-of-type:hover{
	color:#a61a27;
	transition: 0.5s;
}
.comment .comment-body .content > div > div:last-of-type > a:first-of-type:hover{
	color:#057bfb;
	text-decoration: underline;
	transition: 0.5s;
}

/*Add Comment*/

.comment .comment-body .add-comment .content{
	border-radius:10px;
	padding:0;
	background-color:#fff;
	border:none;
}
.comment .comment-body .add-comment .content input[name='comment']{
	border:1px solid #CCC;
	border-radius:20px;
	font-size:14px;
}
input:focus,
textarea:foucs{
	outline: none;
	border: 1px solid #CCC;
    box-shadow: none;
}
textarea:focus{
	border:none;
}
.comment .comment-body .content p input.comment{
	font-size:12px;

}
.comment .comment-body .content p input.comment:focus{
	outline: none;
	border: 1px solid #CCC;
    box-shadow: none;
}
/*Start Update Post*/
.update-post{
	display: none;
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left: 0;
	background-color:rgba(0,0,0,0.5);
	transition: 0.5s;

}

.update-post .container > .card textarea{
	border:none;
}
.update-post .container > .card .card-header h4{
	display: inline-block;
}
.update-post .container > .card .card-header a{
	display: inline-block;
	float:right;

}

/*End Update Post*/
/*End Style Home*/

/* Start Profile Style */
.profile .st{
	margin-bottom:80px;
}
.profile .image-profile{
	position: relative;
	width:100%;
}
.profile .image-profile img{
	position: absolute;
	width:150px;
	height:150px;
	border:1px solid #CCC;
	border-radius:100%;
	top:-80px;
	left:40%;
	box-shadow: 1px 1px 10px #888;
}
.profile  .body{
	margin-top:140px;
}
.profile .body .info > div{
	margin-bottom:10px;
}
.profile .body .info > div > span:first-of-type{
	font-weight: bold;
	color:#676767;
}
.profile .body .info > div > span:last-of-type{
	color:#393939;
}

/* End Profile Style */

/*Start User Style*/
.user .search input:focus,
.user .search select:focus{
	outline: none;
	border:1px solid #888;
	box-shadow: none;
}
.user .search .filter-part {
	padding-left:30px;
}
.user .search .filter-part label{
	margin-top:5px;
	font-weight:bold;
	color:#767676;
}
.user .search .filter-part select{
    padding: 6px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    margin-left: 10px;
}
.user .search .search-part select,
.user .search .search-part input{
	height:30px;
	font-size:12px;
}
.user .delete-user > a{
	padding:3px 8px;
	font-size:12px;
}
/*End User Style*/

/*Start Style Messages*/
.nofigation {
	background-color:#6c5ce7;
	position: fixed;
	color:#fff;
	top:60px;
	left:-330px;
	width:300px;
	font-size:12px;
	border-radius:10px;
	border-top-left-radius: 0;
	transition: 0.5s
}
.nofigation .message{
	padding:10px;
	padding-right:15px;
	position: relative;
	overflow: hidden;
	font-size:12px;
}
.nofigation .message a{
	position:absolute;
	top:2px;
	right:10px;
	font-size: 20px;
	transition:0.5s;
}
.nofigation .message a:hover{
	color:#dc3545;
	transition:0.5s;
}

/*End Style Messages*/